@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Serif+Display:ital@1&family=Raleway&family=Roboto&family=Roboto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Serif+Display:ital@1family=Raleway&display=swap');

body {
  font-family: 'Roboto Serif', serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0 auto;
  color: #424242;
  background-image: url(./image/bg-head.png);
}

body._lock {
  overflow: hidden;
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, li {
  font-family: 'Roboto Serif', serif;
  font-weight: 600;
  font-style: normal;
}

.body__widt {
  margin: 0 60px 0 60px;
  background: #f5f5f5;
  border-radius: 5px;
  box-shadow: 3px 4px 14px 5px #000000;
  opacity: 0.8;
  max-width: 100%;
}

/*-==========Header==========-*/
.head {
  display: flex;
}

.head__bg {
  background-image: url(./image/bg2.png);
  height: 640px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.head__navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 45px;
  background: #022136;
}

/*====Header_Menu====*/
.head__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 570px;
  height: 50px;
}

.head__menu li {
  margin: 0;
  border-right: 1px solid #ffe60062;
}

.head__menu a {
  color: #ffffff;
  padding: 10px 20px 10px 20px;
}

.head__menu a:active {
  color: #ffffff;
  border-bottom: 3px solid #ffe60062;
}

.head__menu a:hover {
  border-bottom: 3px solid #ffe60062;
  background: #f4be00;
}

.head__phone {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.head__phone_my {
  font-family: 'Roboto Serif', serif;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.head__phone_my_tel {
  position: relative;
}

.head__phone_my_tel::before {
  content: "";
  background-image: url(./image/icon-telephone.png);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  position: absolute;
  left: -19px;
}

.head__phone a {
  color: #f4be00;
  font-family: 'Roboto Serif', serif;
  font-size: 20px;
}

.head__phone a:hover {
  color: #ffe60062;
}

.head__phone_backcall {
  background-color: #f4be00;
  border-radius: 4px;
  height: 42px;
  width: 180px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  font-size: 18px;
}

.head__phone_backcall:hover {
  box-shadow: inset 2px 2px 18px 2px #797979;
}

/*-========TITLE===========-*/
.head__logo {
  margin-left: 20px;
  height: 87.5%;
  filter: drop-shadow(10px 0 3px #000000);
}

.head__title {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  line-height: 130%;
  color: #ffffff;
}

.head__title_fav {
  margin: 63px 68px 0 30px;
  line-height: 160%;
  font-size: 34px;
  color: #ffffff;
}

.head__subtitle {
  text-align: right;
  margin: 50px 40px;
}

/*-==========head__back_msg===========-*/
.head__back {
  color: #ffffff;
}

.head__back_all {
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
}

.head__order_now {
  font-family: 'Roboto Serif', serif;
  text-align: center;
  font-size: 24px;
  color: #f4be00;
  padding: 0 17px;
}

.head__back_msg_form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 340px;
  width: 260px;
  box-shadow: 1px 4px 5px #eeeeee;
  border: 5px solid #f4be00;
  border-radius: 8px;
  background: #ffffff;
  opacity: 0.8;
}

.text1 {
  width: 180px;
  height: 40px;
  max-width: 400px;
  font-size: 14px;
  background-color: #ffffff44;
  border-radius: 2px;
  border: 1px solid #f4be00;
  padding-left: 4px;
}

.text1:focus {
  background-color: #ffffff;
  border: none;
}

/*Номер телефона*/
.phone1 {
  border: 1px solid #f4be00;
  width: 180px;
  height: 40px;
  font-size: 14px;
  background-color: #ffffff44;
  margin: 0 3px 0 3px;
  border-radius: 2px;
  padding-left: 4px;
}

.phone1:focus {
  background: #ffffff;
}

/*Кнопка отправить форму*/
.btn3 {
  border: none;
  font-size: 18px;
  background-color: #f4be00;
  border-radius: 4px;
  height: 40px;
  width: 180px;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
}

.btn3:hover {
  box-shadow: inset 2px 2px 18px 2px #797979;
}

/*-========= OUr prices===========- */
.attribute {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin: 30px 0 30px 0;
}

/* -====nano====- */
.attribute__cont1 {
  box-shadow: 1px 2px 4px 2px #e4e4e4;
  width: 275px;
  height: 420px;
  margin-top: 20px;
  padding: 20px 15px 40px 15px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  border-radius: 8px;
  transition: .3s ease-in-out;
}

.attribute__cont1:hover {
  transform: scale(1.2);
}

/* -====nano2====- */
.attribute__cont2 {
  box-shadow: 1px 5px 6px 3px #cdcdcd;
  width: 275px;
  height: 450px;
  padding: 20px 20px 25px 20px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 8px;
  transition: .3s ease-in-out;
  margin-top: 20px;
}

.attribute__cont2:hover {
  transform: scale(1.2);
}

.nano {
  color: #f4be00;
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
}

.nano__price {
  color: #f4be00;
  text-align: center;
  font-size: 26px;
  margin-top: 20px;
}

.sub {
  color: #575757;
  font-size: 16px;
  text-align: center;
}

.lorem {
  font-size: 16px;
  text-align: left;
  padding: 20px 0 20px 0;
  line-height: 1.6;
  font-family: 'Roboto Serif', serif;
}

.lorem1 {
  font-size: 16px;
  text-align: left;
  padding: 30px 0 20px 0;
  line-height: 1.6;
  font-family: 'Roboto Serif', serif;
}

.attribute__btn_nano {
  font-size: 18px;
  border: none;
  width: 220px;
  height: 50px;
  background-color: #f4be00;
  border-radius: 2px;
  color: #ffffff;
  margin-left: 7px;
}

.attribute__btn_nano:hover {
  box-shadow: inset 2px 2px 18px 2px #797979;
  cursor: pointer;
}

/* -========About me========-- */
.about {
  padding: 20px;
  position: relative;
}

.about h2 {
  color: #000000;
  text-align: center;
  margin: 20px 0 20px 0;
}

.about__my {
  display: flex;
  justify-content: space-evenly;
}

.about__talk {
  filter: opacity(33%);
}

.about__tree {
  max-width: 100%;
}

.about__mycontent {
  margin-top: 18px;
}

.about__mycontent_circle {
  filter: opacity(38%);
  position: absolute;
  top: 83px;
}

.about__mycontent_text {
  margin-top: 40px;
  width: 600px;
  text-align: center;
  line-height: 40px;
  font-size: 26px;
}

/* -===========Why is we========- */
.why__is_we {
  text-align: center;
  margin: 30px 0 30px 0;
  background-image: url(./image/whywe.png);
  color: #ffffff;
  text-transform: uppercase;
}

.why__is_we h2 {
  margin: 30px 0 30px 0;
  padding-top: 30px;
}

.why__is_we__first_bg {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #022136;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.why__is_we_circle {
  display: flex;
  justify-content: space-around;
  padding: 20px 2px 30px 2px;
}

.why__is_we__first {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: thick double #f4be00;
  box-shadow: 2px 2px 18px;
  margin-bottom: 20px;
}

.why__is_we__first_parag {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70px;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1.1px;
}

/* -==========Allworks========- */
.allworks {
  text-align: center;
  margin-top: 30px;
  background: #022136;
  text-transform: uppercase;
}

.allworks h2 {
  color: #ffffff;
  padding: 30px 0 30px 0;
}

.allworks__sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  filter: drop-shadow(5px 5px 4px #3d0303);
  padding: 20px 0 20px 0;
}

/* -========Footer work============- */
.big {
  width: 80px;
  height: 150px;
  cursor: pointer;
}

.big:hover {
  filter: drop-shadow(5px 5px 4px #f4be00);
}

.big:focus {
  width: 400px;
  height: 1100px;
  transition: .3s ease-in-out;
}

#bigs {
  width: 80px;
  height: 150px;
  cursor: pointer;
}

#bigs:hover {
  filter: drop-shadow(5px 5px 4px #f4be00);
}

#bigs:focus {
  width: 170px;
  height: 1000px;
  transition: .3s ease-in-out;
}

/* -========Footer Contacts=========- */
.foot {
  display: flex;
  justify-content: space-around;
  background: #022136;
  color: #ffffff;
  margin-top: 15px;
}

.foot__par {
  padding: 10px 0 0 10px;
  background: #022136;
  color: #ababab;
  font-size: 14px;
  font-family:'Roboto Serif', serif;
  height: 40px;
}

.foot__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.foot__contact a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  padding-top: 5px;
}

.foot__contact_tel a:hover {
  color: #f4be00;
}

.foot__contact_tel {
  position: relative;
}

.foot__contact_tel::before {
  content: "";
  position: absolute;
  background: url(./image/icon-telephone.png) no-repeat;
  top: 6px;
  left: -17px;
  width: 17px;
  height: 17px;
}

.foot__contact_email {
  position: relative;
  padding: 10px 0 0 8px;
}

.foot__contact_email::before {
  content: "";
  position: absolute;
  background: url(./image/icon-email.png) no-repeat;
  top: 16px;
  left: -17px;
  width: 17px;
  height: 17px;
}

.foot__contact_email a:hover {
  color: #f4be00;
}

.foot__socicons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot__socicons h4 {
  padding-top: 15px;
}

.foot__socicons_param {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  margin-top: 15px;
}

.foot__call {
  width: 16px;
  height: 16px;
}

.foot__search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0 15px 0;
}

.foot__search_form {
  display: flex;
}

.foot__search_txt {
  border-radius: 5px 0 0 5px;
  height: 38px;
  width: 220px;
  background: none;
  border: 1px solid #f4be00;
}

.foot__search_btn {
  height: 39px;
  width: 41px;
  cursor: pointer;
  border: none;
  border-radius: 0 5px 5px 0;
  background: #f4be00 no-repeat;
  background-size: contain;
}

.foot__send_btn {
  margin: 15px 0 12px 0;
  height: 38px;
  width: 180px;
  cursor: pointer;
  border: none;
  background: #f4be00;
  color: #ffffff;
  border-radius: 20px;
  font-size: 16px;
}

.foot__send_btn:hover {
  box-shadow: inset 2px 2px 18px 2px #797979;
}

.instagram {
  background-image: url(./image/Instagram_icon.png);
  width: 32px;
  height: 32px;
}

.instagram:hover {
  filter: drop-shadow(2px 3px 6px #f4be00);
}

.vk {
  background-image: url(./image/vk_icon.png);
  width: 32px;
  height: 32px;
}

.vk:hover {
  filter: drop-shadow(2px 3px 6px #f4be00);
}

.github {
  background-image: url(./image/github.png);
  width: 32px;
  height: 32px;
}

.github:hover {
  filter: drop-shadow(2px 3px 6px #f4be00);
}

.btnup_bg {
  background: #ffffff;
  width: 64px;
  height: 64px;
}

.btnup_pzn {
  background-image: url(./image/arrow4.png);
  filter: drop-shadow(2px 5px 5px #ffffff);
  background-repeat: no-repeat;
  width: 88px;
  height: 111px;
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 10;
}
#head__burger {
  display: none;
}
#head__back_btn_phone {
  display: none;
}

/*-==========Mobile adaptaion=======-*/
@media screen and (max-width: 767px) {

  .head__back_msg_form,
  .head__phone_my,
  .head__phone_backcall,
  .about__talk {
    display: none;
  }

  body.noscroll {
    overflow: hidden;
  }

  .head__menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 80px 10px;
    transform: translate(-100%, 0);
    transition: 0.6s;
    background-color: rgba(64, 64, 64, 0.49);
    overflow: auto;
  }

  .head__menu._active {
    transform: translate(0px, 0px);

  }

  .head__menu li {
    border: none;
    padding-top: 20px;
  }

  .head__back {
    padding: 5px;
  }

  .head__back_all {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
  }

  .head__title_fav {
    margin-top: 60px;
    font-size: 18px;
  }

  #head__burger {
    display: flex;
    width: 32px;
    height: 4px;
    left: 20px;
    background: #f4be00;
    align-items: center;
    position: absolute;
    cursor: pointer;
    z-index: 10;
  }

  #head__burger>span,
  #head__burger>span::after,
  #head__burger>span::before {
    content: "";
    display: block;
    background: #f4be00;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    transition: all 0.5s ease 0.2s;
  }

  #head__burger span::before {
    top: -11px;
  }

  #head__burger span::after {
    top: 11px;
  }

  #head__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  #head__burger._active span {
    transform: rotate(0) translate(0px, -50%);
  }

  #head__burger._active span::before {
    top: 0;
    transform: rotate(45deg);
  }

  #head__burger._active span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .head__burger_titl{
  position: absolute;
  left: 40px;
  color: #f4be00;
  text-transform: uppercase;
}

  .head__navigation {
    height: 50px;
  }

  .head__phone a {
    font-size: 20px;
  }

  .adaptaion {
    margin: auto 2px;
  }

  .head__back_btn_phone {
    display: block;
    margin: 5px 0 12px 0;
    height: 38px;
    width: 180px;
    cursor: pointer;
    border: none;
    background: #f4be00;
    color: #ffffff;
    border-radius: 2px;
    font-size: 16px;
  }

  .attribute {
    display: block;
  }

  .why__is_we_circle {
    display: flex;
    flex-direction: column;
  }

  .body__widt {
    width: 76%;
  }

  .foot {
    display: flex;
    flex-direction: column;
  }

  .foot__socicons_param {
    margin: 20px 0 10px 0;
  }
}
